/*
  #283D3B;
  #36EAF6;
  #EDDDD4;
  #C44536
  #772E25
*/

body {
    background-color: #772E25;
  }

  .wrapper {
    width: 80%;
    margin: 0% 10%;
    background-color: #283D3B;
    color: #EDDDD4;
    font-family: Helvetica, Georgia, Times, "Times New Roman", serif;
    border-radius: 10px;
  }

  a {
    color: #36EAF6;
  }

  main {
    padding: 15px;
  }

  .list-unstyled {
    list-style: none;
    margin-right: 40px;
  }

  .logo img {
    height: 100px;
    border-radius: 5px;
  }

  .nav-links {
    position: relative;
    top: -40px;
  }

  .nav-links li {
    padding-left: 15px;
    padding-right: 15px;
    transition: transform 0.5s cubic-bezier(0.51, 0.43, 0.13, 1.55);
  }

  .nav-links li:hover {
    transform: scale(1.2);
  }

  .nav-links a {
    color: #EDDDD4;
    font-size: 30px;
    text-decoration: none;
  }

  .main-nav {
    padding-top: 15px;
    background-color: #C44536;
  }

  .main-nav ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 20px;
  }

  .main-nav-list-item {
    display: inline-block;
  }

  .float-right {
    float: right;
  }

  .product-image {
    width: 200px;
    height: 200px;
    border-radius: 3px;
  }

  .product {
    text-align: center;
    display: inline-block;
    width: 39%;
    padding: 20px 5%;
  }

  .products td {
    padding-bottom: 40px;
  }

  .d-inline-block {
    display: inline-block;
  }

  .d-block {
    display: block;
  }

  .products label {
    text-align: left;
  }

  .product-description {
    display: block;
    height: 75px;
    padding: 20px;
    padding-top: 0px;
  }

  .add {
    margin: 10px auto;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    font-family: Helvetica, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }

  th, td {
    font-weight: normal;
    text-align: left;
    border: 1px solid #EDDDD4;
    padding: 10px 5px;
  }

  tr {
    padding-bottom: 10px;
  }

  form input[type="text"] {
    margin-bottom: 10px;
  }

  .name, .email, .subject {
    width: 300px;
  }

  .message {
    width: 300px;
    height: 150px;
  }

  @media (max-width: 960px) {
    .product {
      display: block;
      width: 100%;
    }

    .logo {
      display: block;
    }

    .nav-links {
      display: block;
    }

    .nav-links ul {
      position: relative;
      top: 40px;
      padding: 0px;
      padding-top: 10px;
    }

    .nav-links ul li {
      display: block;
      padding: 0px;
      transition: unset;
    }

    .nav-links ul li:hover {
      transform: none;
    }
  }
